<nav class="flex p-5 bg-green-600 text-green-100 items-baseline">
  <div class="tablet:hidden flex-1">
    <div>
      <button (click)="toggleNavbar()" class="flex items-center px-3 py-1 bg-green-100 rounded text-green-100 hover:bg-white">
        <fa-icon [icon]="faAlignJustify" class="text-green-600"></fa-icon>
      </button>
    </div>
    <div [ngClass]="{'hidden' : navbarClosed}" class="flex flex-col mt-4 space-y-2 children:hover:text-white">
      <ng-container [ngTemplateOutlet]="navbarLinks"></ng-container>
    </div>
  </div>
  <div class="hidden tablet:block flex-1">
    <div class="flex flex-row space-x-4 children:hover:text-white">
      <ng-container [ngTemplateOutlet]="navbarLinks"></ng-container>
    </div>
  </div>
  <div class="relative">
    <a routerLink="/warenkorb" class="hover:text-white"><fa-icon [icon]="faShoppingBasket" size="lg"></fa-icon></a>
    <a class="ml-4 text-2xl cursor-pointer" (click)="toggleMask()"><fa-icon [icon]="faUserCircle" size="lg"></fa-icon></a>
    <div *ngIf="showMask" class="login-mask">
      <div *ngIf="showLogin">
        <app-login></app-login>
        <div>No login? <a (click)="toggleRegisterMask()">Register</a></div>
      </div>
      <div *ngIf="!showLogin">
        <app-register></app-register>
        <div>You have already a login? <a (click)="toggleRegisterMask()">Login</a></div>
      </div>
    </div>
  </div>
</nav>

<ng-template #navbarLinks>
  <a routerLink="/home">Home</a>
  <a routerLink="/produkte">Produkte</a>
  <a routerLink="/rezepte">Rezepte</a>
  <a routerLink="/abos">Abos</a>
</ng-template>
