<a class="ml-4 text-2xl cursor-pointer" (click)="toggleMask()"><fa-icon [icon]="faUserCircle" size="lg"></fa-icon></a>
<div *ngIf="showMask" class="login-mask" [@inOutAnimation]>
  <div *ngIf="(user$ | async)?.username?.length === 0; else logoutMask">
    <div *ngIf="showLogin">
      <app-login></app-login>
      <div class="more-info">No login? <a (click)="toggleRegisterMask()">Register</a></div>
    </div>
    <div *ngIf="!showLogin">
      <app-register></app-register>
      <div class="more-info">You have already a login? <a (click)="toggleRegisterMask()">Login</a></div>
    </div>
  </div>
  <ng-template #logoutMask>
    <app-logout></app-logout>
    <div class="more-info"><i>{{ (user$ | async)?.username }}</i>, already time to go?</div>
  </ng-template>
</div>
